.create-listing-form{
    /* margin-top: 100px; */
}

.create-listing-form_lable{

}

.create-listing-form_input{

    border-radius: 50px;
    border: 2px solid black;

}

.create-listing-form_textarea{
    border-radius: 25px;
    border: 2px solid black;

    resize: none;
}

.create-listing-form_textarea:focus{

}

.create-listing-form_lable--photos{
    display: inline-block;
    padding: 8px 16px;
    background: #000000;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
}

.create-listing-form_input--photos{
    position: absolute;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}

.user-photos_item{
    /* position: relative; */

    width: 100px;
    height: 100px;
}

.user-photos_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-photos_button{
    position: absolute;
}