.create-listing-form{
    /* margin-top: 100px; */
}

.create-listing-form_lable{

}

.create-listing-form_input{

}

.create-listing-form_textarea{
    resize: none;
}

.create-listing-form_textarea:focus{

}

.create-listing-form_lable--file{
    display: inline-block;
    padding: 8px 16px;
    background: #000000;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.create-listing-form_input--file{
    position: absolute;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}

.user-photos_item{
    width: 50px;
    height: 50px;
}