@font-face {
  font-family: "Comfortaa";
  src:
    url("./assets/fonts/Comfortaa.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  src:
    url("./assets/fonts/Montserrat.woff") format("woff");
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  color: black;

  font-family: 'Comfortaa';
}

main {
  min-height: 100vh;
}

.flex{
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

dialog {
  border: none;
  background: transparent;
  font: inherit;
  color: inherit;
}

button{
  background: none;
  border: none;
}

.button{
  min-height: 70px;
  min-width: 100px;

  margin: 5px;

  padding-left: 5px;
  padding-right: 5px;
  background-color: #7fffd4;
  border: 5px solid #58d4ab;
  border-radius: 5px;
}

