.chat-bar{
    width: 150px;
    height: calc(100vh - 200px );
    background-color: black;

    padding-top: 100px;
    z-index: 1;

}

.chat-bar-list_item{

}

.chat-bar-button{
    padding: 10px;   
    width: 100%;

}

.chat-bar-button:first-child{
}

.chat-bar-button:hover{
    background-color: rgb(50, 50, 50);
}

.chat-bar-button--avatar{
    width: 50px;
}

.chat-bar-button--user-name{
    color: white;
    margin-left: 10px;
}