.button{
    min-height: 70px;
    min-width: 100px;

    margin: 5px;

    padding-left: 5px;
    padding-right: 5px;
    background-color: #7fffd4;
    border: 5px solid #58d4ab;
    border-radius: 5px;
}
