.change-user-avatar{
    padding: 20px;
    margin-top: 300px ;
}

.change-user-avatar_description{
    margin-bottom: 50px;
    color: white;
}

.change-user-avatar-menu_option-list{
    
}

.change-user-avatar-menu{
    background-color: black;
    border: solid white;
    border-radius: 25px;
    width: 200px;
    height: 200px;

    flex-direction:column;

}

.change-user-avatar-menu:first-child{
    margin-right: 50px;

    opacity: 0.5;
    transition: 0.5s;

    cursor: pointer;
}

.change-user-avatar-menu:first-child:hover{
    opacity: 1;
    
    transition: 0.5s;
}

.load-photo_file-input,
.select-photo_file-input{
    display: none;
}

.change-photo.description{

    color: white;
    opacity: 0.5;
    
    transition: 0.5s;

    cursor:default;
}

.change-photo.load-photo-icon{
    width: 70px;
    margin-bottom: 10px;
}

.user-photo{
    width: 100px;
}

.change-photo_save-button{
    background-color: white;
    padding: 5px;
    border-radius: 15px;
}