.profile-user-card{
    margin: 0 auto;
    background-color: black;
    max-width: 800px;
    padding: 20px;
    border-radius: 25px;
}

.user-card_user-info{
    width: 100;
}

.user-basic-info_avatar{
    max-width: 100px;
}

.user-basic-info_name{
    color: white;
}

.user-contact-info{
    padding-left: 10px;
}

.user-contact-info_item{
    padding: 10px;
}

.user-contact-info_item--lable{
    color: white;
}

.user-contact-info_item--input{

    background: none;
    border: none;
    color: white;
    margin-left: 10px;
}

.user-card_button{
    padding: 5px;
    margin: 5px;
    background: white;
    border-radius: 10px;
}

.user-card_buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}